
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
firebase-debug.log* # Added this


node_modules/         # Handles root dependencies
functions/node_modules/ # Added specific safety for functions folder


dist
dist-ssr
*.local


.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


.env
.env.local
.env.*.local


.runtimeconfig.json 


.firebase/


.firebaserc